/* -------------------------------------------------- */
                /* Global styling */

body{
    background-color: rgba(74, 8, 128, 0.877);
}

a{
    /* remove underline from links */
    text-decoration: none; 
    color: black;
}

/* -------------------------------------------------- */


/* -------------------------------------------------- */
                /* Header styling */

header{
    /* stick to the top */
    position: fixed;
    font-size: 30px;
    top: 0;
    left:0;

    /* fully expand and increase height */
    width: 100%;
    height: 100px;
    background-color: rgba(74, 8, 128);

    /* appear in front of the other elements, covering them */
    z-index: 99;

    /*rounded borders */
    padding-bottom: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
    /* display as flexbox */
    display: flex;

    /* the elements inside the header (header title and links) must be aligned in a column */
    flex-direction: column;
    
    /* space the elements and align them in the center */
    justify-content: space-aroud;
    align-items: center;    

}

/* -------------------------------------------------- */


/* -------------------------------------------------- */
                /* Navbar styling */

.navbar{
    /* position according to header title */
    position: relative;

    /* distance from the top and bottom */
    font-size: 18px;
    margin: 10px 0;

    /* expand */
    width: 40%;

    /* display as flexbox */
    display: flex;

    /* the anchors must be listed in a row */
    flex-direction: row;
    /* space the elements */
    justify-content: space-between;

    
    
}

@media (max-width: 750px) {
    .navbar{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        }
}
@media (max-width: 750px){
    .nav-link{
        position: relative;
        margin: 0 10px;
        justify-content: space-around;
        flex-wrap: wrap;
    }      
}

/* -------------------------------------------------- */

/* Spacing content from header */
.spacer{
    height: 100px;
}


/* -------------------------------------------------- */
                /* Main styling */
/* Each element inside the main content must be in a row */
.content{
    position: relative;    
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

/* Each wrapper must organize its children in a column */
.description{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
}

@media (max-width: 750px){
    img{
        display: none;
        
    }
}
/* Image to the left of the section card */
.deco-image-left{
    position: relative;
    margin: 20px 20px;
    top: 70px;
    left: 0;
}

/* Image to the right of the section card */
.deco-image-right{
    position: relative;
    margin: 20px 20px;
    top: 70px;
    right: 0;
}
/* -------------------------------------------------- */



/* -------------------------------------------------- */
                /* Content styling */

section{  
    position: relative;
    background-color: rgba(194, 97, 18, 0.87);
    margin: 50px 0;
    border-radius: 5px;

    /* box shadow bottom left top right */
    box-shadow: 1px 4px 7px black, -1px -2px 7px black;    
    padding: 20px 10px 20px;
    width: 50%;

    /* align the text */
    text-align: center;

}
@media(max-width: 750px){
    #form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
#video{
    position: relative;
    /* margin: 0 auto; */
}
/* -------------------------------------------------- */                